name: Build and Push Docker Image

on:
  push:
    branches:
      - main
    paths:
      - 'Runpod2/**'
  pull_request:
    branches:
      - main
    paths:
      - 'Runpod2/**'

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - uses: actions/checkout@v4
    - name: Build Docker image and Push image to Docker Hub
      uses: docker/build-push-action@v5
      with:
        context: ./Runpod2
        file: ./Runpod2/Dockerfile
        push: true
        tags: matthersh/runpod-hello-world:latest
        cache-from: type=gha
        cache-to: type=gha,mode=max