name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - uses: actions/checkout@v4
    - name: Build Docker image and Push image to Docker Hub
      uses: docker/build-push-action@v5
      with:
        context: ./Runpod2
        file: ./Runpod2/Dockerfile
        push: false
        tags: runpod-hello-world:latest
        cache-from: type=registry,ref=${{ secrets.DOCKERHUB_USERNAME }}/ai-api:buildcache
        cache-to: type=registry,ref=${{ secrets.DOCKERHUB_USERNAME }}/ai-api:buildcache,mode=max        
